body
{

    background-repeat: no-repeat;
    margin: 0px;
}
.autoEnclose
{
    
    position: relative;
    width: 334px;
    float: right;
}

.sb
{
    position: relative;
    
    
}

#autoFill
{
    background: white;
    z-index: 1200;
    font-size: 14px;
    padding-left: 11px;
}
.sb input
{
    font-size: 12px; 
    border: 0px; 
    text-transform: uppercase; 
    margin-top: 0px; 
    color: #999; 
    letter-spacing: 1px; 
    font-family: calibri, helvetica, arial;
}

.BlockDis
{
    position: relative;
    border-left: thin solid rgba(0, 0, 0, 0.22);
    border-right: thin solid rgba(0, 0, 0, 0.22);
}

#sbox
{
  position: relative;
    height: 37px;
    width: 96%;
    border: thin solid #2d4365;
    padding-left:11px;
    
}
.SearchB
{
    position: relative;
    height: 57px;
    width: 300px;
    background: rgb(45, 67, 101);
    top: -84px;
    margin-left: 48px;
    color: white;
    letter-spacing: 1px;
    font-family: calibri, helvetica, arial;
    font-size: 1.2em;
}

.ButtonS
{
    position: relative;
    height: 37px;
    background: rgb(18, 16, 16);
    width: 100px;
}


.styleTab
{
    padding: 3px;
    border-bottom: thin solid rgba(0, 0, 0, 0.22);
    letter-spacing: 1px; 
    
}

.wrapper{width:600px; margin-left:auto;margin-right:auto;}
    .welcome_txt{
        position: absolute;
    top: 0px;
    width: 100%;
    /* background-color: rgb(115, 130, 152); */
    
    /* color: white; */
    border-bottom: thick solid #2d4365;
    text-transform: uppercase;
    margin-top: 0px;
    color: #2d4365;
    letter-spacing: 1px;
    background: white;
    font-family: calibri, helvetica, arial; 
    }
    .nameFol
    {
            text-align: center;
    color: white;
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: rgba(34, 47, 66, 0.93);
    /* color: #3A6B2E; */
    /* border-bottom: thick solid #2d4365; */
    /* text-transform: uppercase; */
    margin-top: 0px;
    /* color: #2d4365; */
    letter-spacing: 1px;
    font-family: calibri, helvetica, arial;
    font-size: 19px;
    height: 47px;
   }
    .frm
    {
         position: relative;
        top: 29px;
        
    }

    .tweet_box{
            position: relative;
            /* width: 100%; */
            padding: 20px;
            top: 40px;
            height: 259px;

    }
    .tweet_box textarea{
        width: 50%;
        border: rgba(45, 67, 101, 0.51) solid 2px;


    }
    .tweet_list{
        position: relative;
        top: 100px;
        margin-top: 20px;
        padding:20px;
        
     
    }
    .tweet_list ul{
        padding: 0px;
        font-family: verdana;
        font-size: 12px;
        color: #5C5C5C;
    }
    .tweet_list li{
        border-bottom: silver dashed 1px;
        list-style: none;
        padding: 5px;
    }
@media only screen and (max-width:700px)
{
.SearchB
{
    position: relative;
    height: 29px;
    width: 162px;
    background: rgb(45, 67, 101);
    top: 9px;
    margin-left: 48px;
    color: white;
    letter-spacing: 1px;
    font-family: calibri, helvetica, arial;
    font-size: 1.2em;
}
.tweet_box textarea{
        width: 87%;
    }


#whoTweet{
        font-size:14px;
    }

    .doTweet
    {
        font-size:14px;
           top: 0px;
    }
}

.doTweet
{
    position: relative;
    float: right;
    margin-right: 52px;
    text-decoration: none;
    color: white;
    background: #2d4365;
    padding: 6px;
    text-decoration: underline;
    top: -38px;
}

.login
{
    position: relative;
    top: 68px;
}

#whoTweet
{
    position: relative;
    width: 203px;
}

.divShow
{
    display: block;
}

.loadinger
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: rgba(9, 28, 58, 0.72);
    height: 100%;
    z-index: 10000000;
    
}
#loading {position:absolute;left:calc(50% - 100px);top:calc(50% - 25px);z-index:9999}
.uil-ripple {position:absolute;left:calc(50% - 90px);top:calc(50% - 90px);opacity:.5;z-index:999}

.ld-l {opacity:0;animation: ld-in 3s 0.0s ease infinite;}
.ld-o {opacity:0;animation: ld-in 3s 0.1s ease infinite;}
.ld-a {opacity:0;animation: ld-in 3s 0.2s ease infinite;}
.ld-d {opacity:0;animation: ld-in 3s 0.3s ease infinite;}
.ld-i {opacity:0;animation: ld-in 3s 0.4s ease infinite;}
.ld-n {opacity:0;animation: ld-in 3s 0.5s ease infinite;}
.ld-g {opacity:0;animation: ld-in 3s 0.6s ease infinite;}

@keyframes ld-in {
  0% {opacity:0;transform:scale(0);}
  30% {opacity:1;transform:scale(1);}
  100% {opacity:1;transform:scale(1);}
}